.background {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
